.SectionAboutMe {
    height: 110vh;
    width: 100vw;

    /* background-color: var(--debug); */
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center    
}

.TitreAboutMe {
    font-size: 8vh;
    font-weight: 700;

    margin-bottom: 5vh;
}

.GrilleAboutMe {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: repeat(4, 20vh);
    grid-template-areas: 
        "Mag Mag Pen Kar Rub Rub"
        "Mag Mag Bat Bat Rub Rub"
        "Spo Spo Spo Gui The The"
        "Spo Spo Spo Ast Ast Ast"
    ;
    row-gap: 1vh;
    column-gap: 1vw;
}
