/* PC */
@media screen and (min-width: 768px) {
    .Intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        height: 22vh;
        width: 80vw;
        
        margin-left: 10vw;
        margin-top: 10vh;
        margin-bottom: 20vh;
    }

    .PhotoMoi {
        margin-top: 13vh;
        height: 50vh;
        border-radius: 40vh;
    }

    #Fleche {
        opacity: 0;
    }
}

/* TELEPHONE */
@media screen and (max-width: 768px) {
    .Intro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        height: 80vh;
        width: 100vw;
    }

    .PhotoMoi {
        width: 80%;
        border-radius: 40vh;
    }

    #Fleche {
        opacity: 1;
    }
}



.IntroTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}


.Name {
    font-size: 7vh;
    font-weight: 700;
}

.Title {
    font-size: 5vh;
    font-style: italic;
}

.AboutMeButton {
    height: 1.5vh;
    width: 15vw;

    display: flex;
    justify-content: baseline;
    align-items: center;

    color: var(--orange);
    font-weight: 700;
}

.AboutMeText {
    white-space: nowrap;
}

#Fleche {
    transform: rotate(180deg);
    margin-left: 1vw;
    height: 100%;
    transition: ease 0.7s;
}

.AboutMeButton:hover #Fleche {
    transform: rotate(540deg);
    opacity: 1;
}