/* PC */
@media screen and (min-width: 768px) {

    .BandeauDiv {
        font-size: 2vh;
    }
    
    .atTheTop {
        font-size: 3vh;
    }
    
    .NavigationElements {
        padding-right: 1vw;
        padding-left: 1vw;
    }
}

/* TELEPHONE */
@media screen and (max-width: 768px) {

    .BandeauDiv {
        font-size: 1.5vh;
    }
    
    .atTheTop {
        font-size: 2vh;
    }
    
    .NavigationElements {
        padding-right: 2vw;
        padding-left: 2vw;
    }
    
}

.BandeauDiv {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;

    padding-left: 1vw;
    background-color: var(--blanc);
    color: var(--noir);

    display: flex;
    align-items: center;
    justify-content: baseline;

    transition: ease 0.5s;

    z-index: 1;
}

.atTheTop {
    height: 10vh;
    background-color: var(--bleu-fonce);
    color: var(--blanc);
}

.NavigationElements {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    transition: ease 0.3s;
}

.NavigationElements:hover {
    background-color: var(--blanc);
    color: var(--bleu-fonce);
}

.ElementMidPage:hover {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
}    