/* PC */
@media screen and (min-width: 768px) {
    .TitreParcoursEtape {
        font-size: 5vh;
        font-weight: 700;
    }
    
    .DateParcoursEtape {
        font-size: 4vh;
        font-weight: 500;
        color: gray;
    }

    .TexteParcoursEtape {
        font-size: 3vh;
        font-weight: 400;
        font-style: italic;
    }
}

/* TELEPHONE */
@media screen and (max-width: 768px) {
    .TitreParcoursEtape {
        font-size: 4vh;
        font-weight: 700;
    }
    
    .DateParcoursEtape {
        font-size: 2vh;
        font-weight: 500;
        color: gray;
    }

    .TexteParcoursEtape {
        font-size: 2vh;
        font-weight: 400;
        font-style: italic;
    }
}


.TextParcoursDiv {
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



