:root {
    --debug: orange;

    --blanc: white;
    --noir: black;

    --orange: #f4a261;

    --bleu: #9AC8EB;
    --bleu2: #35487d;
    --bleu-fonce: #212E53;

    --rouge: #A7001E;

    --background-color: var(--white)
}